

#logo{
    
    width: 180px;
    height: 150px;
    float: right;
    align: right;
    position: fixed;
    top:0px;
    margin: 0 0px 0px 0;
    left: 85%;
    display: inline;
    
    
    
}

