
@import url(http://www.w3schools.com/lib/w3.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);

article{
width: 750px;
height: 600px;
    
    
}


p{
    text-align: justify;
    text-indent: 15px;
    margin-left: 10px;
}

#logo{
    
    width: 180px;
    height: 150px;
    float: right;
    position: fixed;
    top:0px;
    margin: 0 0px 0px 0;
    left: 85%;
    display: block;
    
    
    
}

h1{
    font-family: "Raleway", sans-serif;
    font-weight: bolder;            
}

html,body,h2,h3,h4,h5 {
		font-family: "Raleway", sans-serif
	}

	.w3-sidenav a,.w3-sidenav h4 {
		font-weight:bold
	}
	

	body{
		background-image:url(../novayork.jpg)
	}
